
body {
    
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    
    font-family: 'Titillium Web', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.cbc.ca/1.3701318.1469822735!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/a-platypus-from-hell.jpg') ;
    height: 100%;
}
.content2{
    background-image: url('https://pbs.twimg.com/media/EdlaH6YVAAAfozr.jpg');
}
.content3{
background-image: url('https://vignette.wikia.nocookie.net/phineasandferb/images/7/7e/Perry_the_platypus.png/revision/latest/scale-to-width-down/340?cb=20091021193514');
}
section {

    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2.1rem;
    font-weight: 900;
    margin-top: 40px;
}
.pic3{
    height: 225px;
    width: 300px;
    margin-top: 30px;
    border-radius: 10px;
}
content {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.678);
    width: 100%;
    
}
#banner{
    font-size: 3em;
}
.pic1{
    height: 80%;
    width: 80%;
}

p {
    margin: var(--gutter);
    font-size: 2em;

   
}

.hidden{
    display: none;
}
span{
    font-size: 3em;
    text-align: center;
}
  
ol{
    font-size: 1.5em;
    font-weight: 900;

}
ul{
    font-size: 1.5em;
    font-weight: 900;

}
#info-section{
    font-size: 2.1rem;
    font-weight: 900;
}
button{
    height: 40px;
    border-radius: 10px;
    margin: 35px;
}